* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Proxima Nova Light', sans-serif;
}

header, footer, div {
  box-sizing: border-box;
}

.transparent-letter {
  position: absolute;
  opacity: 0.1;
  color: $primary-color;
  font-size: 245px;
  font-weight: 700;
  text-transform: uppercase;
}

.rectangle {
  width: 4px;
  height: 50px;
  background-color: $primary-color;
}
