<div class="decor-screen">
    <div class="container">
        <div class="hidden-title">Decor</div>
        <img class="decor-img" src="img/decor_img.png">
        <div class="decor-text">
            <div class="text-wrapper">
                <h3 class="block-title">Decor</h3>
                <p class="block-text">
                    <span class="rectangle"></span>
                    <span>We make all types of wooden decor as per design given by Architect, Interior designer, contractor which is suitable your premises. </span>
                </p>
                <div class="learn-component">
                    <span>Learn more</span>
                    <div class="arrow-right"></div>
                </div>
            </div>
            <div class="block-number">
                <span>02</span><span class="primary-colored">.</span>
            </div>
        </div>
    </div>
</div>