<div class="furniture-screen">
        <div class="container">
            <div class="furniture-text">
                <div class="text-wrapper">
                    <h3 class="block-title">Furniture</h3>
                    <p class="block-text">
                        <span class="rectangle"></span>
                        <span>Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood</span>
                    </p>
                    <div class="learn-component">
                        <span>Learn more</span>
                        <div class="arrow-right"></div>
                    </div>
                </div>
                <div class="block-number">
                    <span>01</span><span class="primary-colored">.</span>
                </div>
            </div>
            <img class="furniture-img" src="img/furniture_img.png">
            <div class="hidden-title">Furniture</div>
        </div>
</div>