<div class="furniture-screen">
        <div class="container">
            <div class="furniture-text">
                <h3 class="block-title">Furniture</h3>
                <p class="block-text">Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood</p>
                <div class="learn-component">
                    <span>Learn more</span>
                    <div class="arrow-right"></div>
                </div>
            </div>
            <img class="furniture-img" src="img/furniture_img.png">
        </div>
</div>