<header class="header">
    <div class="menu">
        <div class="menu-icon">
            <div class="icon-line"></div>
            <div class="icon-line"></div>
            <div class="icon-line"></div>
        </div>
        <div class="menu-title">Menu</div>
    </div>
    <div class="main-block">
        <div class="logo-area">
            //= logo.html
        </div>
        <div class="nav-bar">
            <div class="nav-item">Home</div>
            <div class="nav-item">Products</div>
            <div class="nav-item">About</div>
        </div>
    </div>
    <div class="info-block">
        <img class="info-icon" src="img/info_icon.png">
        <div class="change-lang">
            <div class="current-lang">En</div>
        </div>
    </div>
</header>