<div class="main-screen">
    <div class="background left-section">
        <img src="img/background_main_1.png">
        <div class="first-number">
            <div class="rectangle"></div>
            <span class="number">01</span>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <span class="transparent-letter">f</span>
    </div>
    <div class="background right-section">
        <img class="section-background" src="img/background_main_2.png">
        <div class="rotated-text">
            <span>Furniture & decor</span>
        </div>
        <span class="transparent-letter">w</span>
        <img class="share-icon" src="img/share_icon.png">
    </div>
    <div class="center-section">
        <span class="screen-caption">Wooder</span>
        <div class="learn-btn">
            <span>Learn more</span>
            <div class="arrow-right"></div>
        </div>
        <div class="scroll-down">
            <img src="img/mouse_icon.png">
            <div class="arrow-down"></div>
            <div class="rotated-text">
                <span>Scroll down</span>
            </div>
        </div>
    </div>
</div>