<div class="video-screen">
    <div class="background-img">
        <img class="play-icon-transparent" src="img/play_icon_lg.png">
        <div class="content-rectangle">
            <div class="content-block">
                <h3 class="video-title">We do the design of any complexity</h3>
                <p class="video-description">
                    <span class="rectangle"></span>
                    <span>This is a team of professionals that make the furniture and wood decor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love. </span>
                </p>
                <div class="learn-btn">
                    <img class="play-icon" src="img/play_icon_xs.png">
                    <span>Watch video</span>
                </div>
            </div>
        </div>
    </div>
</div>