<div class="videos-screen">
    <h3 class="videos-title">Wooder - is quality</h3>
    <div class="rectangle"></div>
    <p class="videos-description">
        <span>We create unique design objects made of rare wood, specially under the order.</span>
        <span>Look at the short video about our work.</span>
    </p>
    <div class="videos-list">
        <div class="video-wrapper">
            <div class="video-round">
                <div class="video-cover">
                    <img class="video-img" src="img/design_img.png">
                    <div class="play-btn">
                        <img src="img/play_icon.png">
                    </div>
                </div>
            </div>
            <div class="video-separator"></div>
            <span>Innovative Design</span>
        </div>
        <div class="video-wrapper">
            <div class="video-round">
                <div class="video-cover">
                    <img class="video-img" src="img/skills_img.png">
                    <div class="play-btn">
                        <img src="img/play_icon.png">
                    </div>
                </div>
            </div>
            <div class="video-separator"></div>
            <span>High-level Skills</span>
        </div>
        <div class="video-wrapper">
            <div class="video-round">
                <div class="video-cover">
                    <img class="video-img" src="img/quality_img.png">
                    <div class="play-btn">
                        <img src="img/play_icon.png">
                    </div>
                </div>
            </div>
            <div class="video-separator"></div>
            <span>Quality Products</span>
        </div>
    </div>
</div>