.rectangle-row {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .container {
    position: relative;
    width: 100%;
    max-width: 1234px;

    .rectangle {
      margin-left: 10px;
    }

    .transparent-letter {
      top: -100px;
      right: 0;
    }
  }
}